.navbar {
    background-color: #556266;
    overflow: hidden;
}
.navbar a {
    float:left;
    color:#fff;
    text-align: center;
    padding:10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.header {
    display:flex;
    justify-content: space-between;
    padding:10px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: rgb(247, 247, 248);
}

Main {
    max-width: 600px;
    margin: 0 auto;
}


.text {
    display: table-column;
    color: #FFF;
}

.rainy {
    display: flex;
    justify-content: space-between;
    background-color: #556266;
    padding: 20px;
}

.price {
    display:flex;
    justify-content: space-between;
    text-decoration: underline;
    padding-left:40px;
    padding-right:40px;
}

@media(max-width: 400px) {
    .image {
        max-width: 140px;
        max-height: 140px;
    }
    .navbar a {
        padding:5px 10px;
    }
}

.shipping {
    display:flex;
    justify-content: space-between;  
    text-decoration: underline;
    padding-left:40px;
    padding-right:40px;
}

.total {
    display:flex;
    justify-content: space-between;
    padding-bottom: 30px;
    text-decoration: underline;
    padding-left:40px;
    padding-right:40px;
}

.button {
    background-color: #556266;
    color:#FFF;
    text-decoration: none;
    padding:5px;
    width:80px;
    border-radius: 5px;
}
.buttons {
    padding-bottom: 50px;
}



footer {
    padding:40px;
    padding-bottom: 60px;
    background-color:#556266;
    color: #FFF;
}

footer a {
    color: #FFF;
}