.navbar {
    background-color: #556266;
    overflow: hidden;
}
.navbar a {
    float:left;
    color:#fff;
    text-align: center;
    padding:10px 15px;
    text-decoration: none;
    font-size: 16px;
}

.header {
    display:flex;
    justify-content: space-between;
    padding:10px;
    padding-right:30px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: rgb(247, 247, 248);
}

.navitem {
    padding: 15px;
}

.blurred {
    filter:blur(4px);
}

.logo-on-image {
position:absolute;
top:20%;
left:0%;
}



Header li {
    display:inline;
}

h2 {
    grid-column: 1/-1;
}


.new-in {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap:5px;
row-gap: 60px;
padding-bottom: 30px;
}

@media(min-width:1000px) {
    .new-in {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
    
    
    @media(min-width:200px) {
    .new-in {
        grid-template-columns: 1fr;
        
    }
    .navbar a {
        padding:5px 10px;
    }
}
@media(min-width: 900px) {
    .new-in {
        grid-template-columns: 1fr 1fr;
    }
}

.product-text {
    display:flex;
    flex-direction:column;
}

.addtocart {
    background-color: #556266;
    color:white;
    padding:5px;
    width:80px;
    border-radius: 5px;
    
}


.category {
    background-color: #556266;
    width:150px;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 26px;
}

.category-container {
    display:flex;
    justify-content: space-evenly;
    /* width:100vw; */
    padding-top: 100px;
}
.link {
    color:#FFF;
    text-decoration: none;
}

footer {
    padding:40px;
    padding-bottom: 60px;
    background-color:#556266;
    color: #FFF;
}

footer h3, .adress, .mail-phone {
    padding:5px;
}

.mail-phone {
    display:block;
}

footer a {
    color:white;
}
